# Cloud Shell / system files
.config/
.docker/
.gemini/
.npm/
.cloudshell/

# Shell & OS
.bash_history
.bashrc
.gitconfig
.profile
.sudo_as_admin_successful
README-cloudshell.txt
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Logs & env
*.log
.env
.bash_logout

# Python virtual environment
venv/

